{% extends 'EcomApp/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Welcome {{request.user}}</h3>
   <hr>
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'passwordchange' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group mb-3">
      {{fm.label_tag}} {{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small>
    </div>
    {% endfor %}
    <div class="text-center text-primary fw-bold"><small>Forgot Password ? <a href="/"
      class="text-danger">Change Password</a> </small>
    <input type="submit" class="btn btn-primary mt-4" value='changepassword'>

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <p class="alert alert-danger my-3">{{error}}</p>
      {% endfor %}
   {% endif %}

   </div>
   </form>
  </div>
 </div>
</div>
{% endblock content %}